/* Footer.css */

.footer {
    background-color: #1a1440; /* Dark blue background */
    color: white;
    padding: 20px 0;
    text-align: left;
    width: 100%;
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
}

.footer-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    flex-wrap: wrap;
}

.footer-links {
    display: flex;
    gap: 50px;
    flex-wrap: wrap;
    width: 100%;
    justify-content: space-between;
}

.footer-links div {
    display: flex;
    flex-direction: column;
}

.footer-links a {
    color: white;
    text-decoration: none;
    margin-bottom: 8px;
    font-size: 14px;
    transition: color 0.3s ease;
}

.footer-links a:hover {
    text-decoration: underline;
}

.footer-social {
    display: flex;
    align-items: center;
    gap: 12px;
    width: 100%;
    justify-content: flex-end;
    margin-top: 10px;
}

.footer-social span {
    font-size: 14px;
    font-weight: bold;
}

.footer-social a {
    color: white;
    background-color: #24555f;
    width: 32px;
    height: 32px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    font-size: 18px;
    transition: background-color 0.3s ease;
}

.footer-social a:hover {
    background-color: #366f80;
}
