/* SignUp.css */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



.signup-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  
}

.signup-box {
  width: 300px;  /* Increased width */
  padding: 15px; /* Increased padding */
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
  border: 2px solid #1a1a52;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  position: relative;
  margin-bottom: 28px;
  transform: translate(20px, -20px); /* Moves right and slightly up */
}

h2 {
  font-size: 20px; /* Slightly bigger */
  color: #333;
  margin-bottom: 14px;
}

.form-group {
  text-align: left;
  margin-bottom: 10px;
}

.form-group label {
  font-size: 13px;
  margin-bottom: 5px;
  color: #555;
  display: block;
  font-weight: bold;
}

.form-group input {
  width: 100%;
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 13px;
  outline: none;
  transition: border 0.3s ease-in-out;
}

.form-group input:focus {
  border-color: #1a1a52;
}

button {
  width: 100%;
  padding: 10px;
  background-color: #1a1a52;
  color: white;
  border: 2px solid #1a1a52;
  border-radius: 6px;
  font-size: 15px;
  cursor: pointer;
  margin-top: 10px;
  transition: 0.3s ease-in-out;
}

button:hover {
  background-color: white;
  color: #1a1a52;
}

.login-link {
  margin-top: 10px;
  font-size: 13px;
}

.login-link a {
  color: #1a1a52;
  text-decoration: none;
  font-weight: bold;
}

.login-link a:hover {
  text-decoration: underline;
}
